{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">{% block title %}Cadastro{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.
</p>

<hr>

<form action="{{url_for('user.page_register')}}" method="POST">
    {{ form.hidden_tag() }}

    {{ form.username(class='form-control', placeholder='user.name')}}
    <br>

    {{ form.password(class='form-control', placeholder='Password') }}
    <br>

    {{ form.password_confirm(class='form-control', placeholder='Password Confirm') }}
    <br>

    <div class="d-flex justify-content-between">
        {{ form.submit(class='btn btn-primary') }}
        <a class="btn btn-secondary" href="{{url_for('auth.page_login')}}">Login</a>
    </div>
</form>
<br>
{% endblock %}