{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">{% block title %}Edit User{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.
</p>

<hr>

<form method="POST" action="{{ url_for('user.page_edit_user', id=user.id) }}">
    {{ form.hidden_tag() }}
    {{ form.username(class='form-control') }}
    <br>
    
    {{ form.password(class='form-control', placeholder='new password') }}
    <br>
    
    {{ form.password_confirm(class='form-control', placeholder='confirm your new password') }}
    <br>{{ form.submit(class='btn btn-primary') }}
</form>
<table class="table table-striped">
    <caption>Usuario Cadastrados</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for tab in table %}
        <tr>
            <td> {{ tab.id }} </td>
            <td> {{ tab.username }} </td>
            <td>
                <a href="{{tab.id}}/edit" class="btn btn-primary px-3">Editar</a>
                <a href="{{tab.id}}/del" class="btn btn-danger px-3">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
