body{
    background-color: cadetblue;
    font-family: 'Arial', sans-serif;
    
    .fa-eye{
        color: green;
        
        &:hover{
            color: red;
            cursor: pointer;
            
        }
    }
}