{% extends "layout.html" %} {% block content %}
<h1 class="display-4">{% block title %}Set Config interface{% endblock %}</h1>

{% block comment %}
{{ super()}}
{% endblock %}

<hr />

<form action="{{url_for('network.interface_unit')}}" method="POST" autocomplete="off">
  {{ form.hidden_tag() }}
  <!-- ROW -->
  <div class="form-row">
    <div class="form-group col">{{ form.hostname(class="form-control") }}</div>
  </div>

  <!-- ROW -->
  <div class="form-row">
    <div class="form-group col-3">
      {{ form.unit_vlan(class="form-control", placeholder="Unit VLAN") }}
    </div>
    <div class="form-group col">
      {{ form.description(class="form-control", placeholder="Description") }}
    </div>
  </div>

  <!-- ROW -->
  <div class="form-row">
    <div class="form-group col-4">
      {{ form.ipv4_gw(class="form-control", placeholder="Gateway - IPv4") }}
    </div>
    <div class="form-group col">
      {{ form.bandwidth(class="form-control", placeholder="Bandwidth") }}
    </div>
  </div>

  <!-- ROW -->
  <div class="form-row">
    <div class="form-group col-4">
      {{ form.ipv6_gw(class="form-control", placeholder="ipv6_gw") }}
    </div>
    <div class="form-group col-4">
      {{ form.ipv6_cli(class="form-control", placeholder="ipv6_cli") }}
    </div>
    <div class="form-group col-4">
      {{ form.ipv6_48(class="form-control", placeholder="ipv6_48") }}
    </div>
  </div>

  <!-- ROW -->
  <div class="form-row">
    <!-- Usuários -->
    <div class="form-group col mb-3">
      <input type="text" class="form-control" value="{{ current_user.username }}" readonly>
    </div>

    <!-- Passwords -->
    <div class="input-group col mb-3">
      <input type="password" class="form-control" id="password-input" value="{{ current_user.password[:12] }}" readonly>
      <div class="input-group-append">
        <i class="fas fa-eye input-group-text" id="toggle-password"></i>
      </div>
    </div>
  </div>

  {{ form.submit(class="btn btn-primary") }}
</form>

<br>

<pre class="text-center">set interfaces ae0 unit {unit}</pre>

<pre class="max-height" style="
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
  ">
{{ output }}
</pre>

{% endblock %}