{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">{% block title %}Cadastro{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.
</p>

<hr>

<form action="{{url_for('device.page_register_device')}}" method="POST">
    {{ form.hidden_tag() }}

    <label for="hostname" hidden></label>
    {{ form.hostname(class='form-control', placeholder='Device name')}}
    <br>

    <label for="ip_address" hidden></label>
    {{ form.ip_address(class='form-control', placeholder='IP Address do host') }}
    <br>

    {{ form.submit(class='btn btn-primary') }}
</form>
<br>

<table class="table table-striped">
    <caption>Equipamentos cadastrados</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">hostname</th>
            <th scope="col">IP Address</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for tab in table %}
        <tr>
            <td> {{ tab.id }} </td>
            <td> {{ tab.hostname }} </td>
            <td> {{ tab.ip_address }} </td>
            <td>
                <a href="{{ tab.id }}/edit" class="btn btn-primary px-3">Editar</a>
                <a href="{{ tab.id }}/remove" class="btn btn-danger px-3">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}