{% extends 'layout.html' %}

{% block content %}

<h1 class="display-4">{% block title %}Home{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.
</p>

<hr>

<!-- users -->
<select name="" id="" class="form-control">
    {% for tab in table %}
    <option value="{{ tab.email }}">{{ tab.email }}</option>
    {% endfor %}
</select>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuário</th>
        </tr>
    </thead>
    <tbody>
        {% for tab in table %}
        <tr>
            <td> {{ tab.id }} </td>
            <td> {{ tab.email }} </td>
            <td> 
                <button type="button" class="btn btn-primary btn-sm">editar</button> 
                <button type="button" class="btn btn-danger btn-sm">deletar</button> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}