{% extends 'layout.html' %}

{% block content %}
<h1 class="display-4">{% block title %}Home{% endblock %}</h1>
<p class="lead">Este é apenas um exemplo da interface breaf da interface de loopback, um teste de conectividade para
    confirmar a autenticação.</p>
<hr>

<pre class="pre-scrollable max-height" style="
                border: solid 1px rgba(0, 0, 0, .1); 
                padding: 1rem; 
                margin-top: 1rem; 
                border-radius: 10px;">{{ output }}</pre>
{% endblock %}
