{% extends 'layout.html' %} {% block content %}
<h1 class="display-4">{% block title %}Home{% endblock %}</h1>
<p class="lead">
  Aplicação Flask para automatizar configurações de rede, integrando validação
  de endereços IPv4/IPv6, autenticação de usuários e registro de dispositivos,
  com suporte a Netmiko para execução de comandos SSH.
</p>
<hr />

<pre
  class="pre-scrollable max-height"
  style="
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
  "
>
{{ output }}</pre
>
{% endblock %}
