{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Juniper</h1>
    <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>
    
    <hr>

    <form method="POST" action="{{url_for('index')}}">
        <div class="form-group">
            <label for="host">Router</label>
            <input type="text" class="form-control" name="host" id="host" placeholder="IP Address">
            <small class="form-text text-muted">IP Address do equipamento</small>
        </div>
        
        <div class="form-group">
            <label for="username">Tacacs User</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Usuário">
            <small class="form-text text-muted">usuário tacacs</small>
        </div>
        
        <div class="form-group">
            <label for="password">Tacacs User</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
            <small class="form-text text-muted">Senha do tacacs</small>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>    
{% endblock %}

<h2>Resultado</h2>
<pre>{{ output }}</pre>