{% extends 'layout.html' %}

{% block content %}

    <h1 class="display-4">{% block title %}Home{% endblock %}</h1>
    <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>
    
    <hr>

    <form method="POST" action="{{url_for('page_home')}}" autocomplete="off">

        <div class="form-group">
            <label for="host">Router</label>
            <select name="host" id="host" class="form-control">
                <option value="143.137.92.254">vroute</option>
                <option value="170.84.29.254">bgp</option>
            </select>
            <small class="form-text text-muted">IP Address do equipamento</small>
        </div>
        
        <!-- Tacacs -->
        <div class="form-group">
            <select name="username" id="username" class="form-control">
                <label for="username">Selecione um usuário</label>
                <option value="fabio.ewerton">fabio.ewerton</option>
                <option value="glicia.santos">glicia.santos</option>
                <option value="leo.duarte">leo.duarte</option>
                <option value="roger.ochiai">roger.ochiai</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="password"  hidden></label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Senha" required>
            <small class="form-text text-muted">Senha do tacacs</small>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <pre class="pre-scrollable max-height" style="border: solid 1px rgba(0, 0, 0, .1); 
                padding: 1rem; 
                margin-top: 1rem; 
                border-radius: 10px;">{{ output }}</pre>
{% endblock %}
