<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- non necessary yet -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}"> -->
  <title>{% block title %}Automation python{% endblock %}</title>
</head>

<body class="container" style="background-color: cadetblue;">
  <!-- breadcrumb -->
  <div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <a class="breadcrumb-item" href="{{url_for('page_home')}}">Home</a>

        <!-- Routers -->
        <div class="dropdown ml-3">
          <a href="#" class="dropdown-toggle mr-3" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Routers</a>
          <div class="dropdown-menu">
            <a href="{{url_for('network.get_interface_summary')}}" class="dropdown-item">get_interface_summary</a>
            <a href="{{url_for('network.get_interface_configuration')}}" class="dropdown-item">get_interface_configuration</a>
          </div>
        </div>

      </ul>
    </nav>

    <nav class="breadcrumb">
      {% if current_user.is_authenticated %}
      <span class="mr-3 text-uppercase text-monospace">&lfloor; {{ current_user.username }} &rceil;</span>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle mr-3" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Cadastrar</a>
        <div class="dropdown-menu">
          <a href="{{url_for('page_register')}}" class="dropdown-item">Usuário</a>
          <a href="{{url_for('page_register_device')}}" class="dropdown-item">Device</a>
        </div>
      </div>
      <a class="breadcrumb-item" href="{{url_for('page_logout')}}">Logout</a>
      {% else %}
      <a class="breadcrumb-item" href="{{url_for('page_login')}}">Login</a>
      {% endif %}
    </nav>

  </div>

  <!-- jumbotron -->
  <div class="jumbotron">
    <!-- Flash messages with flask -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      <p style="margin: auto;">{{ message }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
    </div>
    {% endfor %}
    {% endwith%}

    <!-- site content -->
    {% block content %}
    data
    {% endblock content %}
  </div>

  <!-- JavaScript (Opcional) -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>