<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'head.html' %}
  <title>{% block title %}Home{% endblock title %}</title>
</head>

<body class="container">

  <!-- Breadcrumb and Menus -->
  <div class="d-flex justify-content-between">

    <!-- Left Side Menu -->
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('page_home') }}">Home</a>
        </li>
        <li class="dropdown ml-3">
          <a href="#" class="dropdown-toggle mr-3" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Routers
          </a>
          <div class="dropdown-menu">
            <a href="{{ url_for('network.interface_summary') }}" class="dropdown-item">Interface Summary</a>
            <a href="{{ url_for('network.interface_configuration') }}" class="dropdown-item">Interface Configuration</a>
            <a href="{{ url_for('network.interface_unit') }}" class="dropdown-item">Config Interface Unit Vlan</a>
            <a href="#" class="dropdown-item">Config Static Router</a>
          </div>
        </li>
      </ul>
    </nav>

    <!-- Right Side Menu -->
    <nav class="breadcrumb">
      {% if current_user.is_authenticated %}
      <span class="mr-3 text-uppercase font-weight-light">
        &#8764; {{ current_user.username }} &#8764;
      </span>
      <a class="breadcrumb-item" href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
      <a class="breadcrumb-item" href="{{ url_for('auth.login') }}">Login</a>
      {% endif %}
    </nav>

  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <p class="m-auto">{{ message }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">
        &times;
      </button>
    </div>
    {% endfor %}
    {% endwith %}

    <!-- Site Content -->
    {% block content %}
    data
    {% endblock content %}

  </div>

</body>