{% extends "layout.html" %}

{% block content %}

<h1 class="display-4">{% block title %}Login{% endblock %}</h1>
<p class="lead">
    Aplicação Flask para automatizar configurações de rede, integrando validação
    de endereços IPv4/IPv6, autenticação de usuários e registro de dispositivos,
    com suporte a Netmiko para execução de comandos SSH.
</p>
<hr>
<form method="POST" action="{{url_for('auth.login')}}" autocomplete="off">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.username(class="form-control mb-3", placeholder='user.name') }}

        <div class="input-group">
            {{ form.password(class="form-control", placeholder='password', id='password-input') }}
            <div class="input-group-append">
                <i class="fas fa-eye input-group-text" id="toggle-password"></i>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-between align-items-center">
        {{ form.submit(class='btn btn-primary') }}
        <div class="custom-control custom-checkbox">
            {{ form.checkbox(class="custom-control-input") }}
            {{ form.checkbox.label(class="custom-control-label") }}
        </div>
    </div>
</form>

{% endblock %}