{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">{% block title %}Login{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.
</p>

<hr>
<form method="POST" action="{{url_for('auth.page_login')}}">
    {{ form.hidden_tag() }}

    {{ form.username(class_="form-control mb-3", placeholder='user.name') }}

    {{ form.password(class_="form-control mb-3", placeholder='passowrd') }}

    {{ form.submit(class='btn btn-primary') }}
</form>
{% endblock %}