{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">{% block title %}Cadastro{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.
</p>

<hr>

<form action="{{url_for('page_register_user')}}" method="POST">
    {{ form.hidden_tag() }}

    <label for="device_name" hidden></label>
    {{ form.device_name(class='form-control', placeholder='Device name')}}
    <small class="form-text text-muted">Nome do dispositivo em </small>
    <br>

    <label for="ip_address" hidden></label>
    {{ form.ip_address(class='form-control', placeholder='IP Address do host') }}
    <small class="form-text text-muted">IP Address do host</small>
    <br>

    <!-- <div class="d-flex justify-content-between">
        {{ form.submit(class='btn btn-primary') }}
        <a class="btn btn-secondary" href="{{url_for('page_login')}}">Login</a>
    </div> -->
</form>
{% endblock %}