{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">{% block title %}Cadastro{% endblock %}</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>

<hr>

<form action="{{url_for('page_register')}}" method="POST">
    {{ form.hidden_tag() }}

    <label for="email" hidden></label>
    {{ form.email(class='form-control', placeholder='E-mail')}}
    <small class="form-text text-muted">E-mail corporativo</small>
    <br>

    <label for="password" hidden></label>
    {{ form.password(class='form-control', placeholder='Password') }}
    <small class="form-text text-muted">Informe sua senha</small>
    <br>

    <label for="password_confirm" hidden></label>
    {{ form.password_confirm(class='form-control', placeholder='Confirme Senha') }}
    <small class="form-text text-muted">Confirme Senha</small>
    <br>
              
    {{ form.submit(class='btn btn-primary') }}
</form>
{% endblock %}